.gradle
.settings
.classpath
.project
build
bin
*.launch
run
Private.java

.idea/
mc
ffa/

ffa_backup/world/

ffa_backup/world_the_end/

ffa_backup/world_nether/

ffa_backup/usercache.json

ffa_backup/whitelist.json

ffa_backup/version_history.json

ffa_backup/plugins/bStats/

ffa_backup/permissions.yml

ffa_backup/paper.jar

ffa_backup/ops.json

ffa_backup/logs/

ffa_backup/help.yml

ffa_backup/eula.txt

ffa_backup/commands.yml

ffa_backup/cache/

ffa_backup/banned-players.json

ffa_backup/banned-ips.json

ffa_backup/.console_history
